.section_footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    background-color: rgb(11, 10, 10) ;
    .title_footer{
        color: white;
        font-family: "Unbounded", sans-serif;
    }
}