.navbar {
    width: 100%;
    height: 60px;
    background-color: rgba(13, 10, 10, 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.526) 0px 3px 8px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; /* S'assurer que la barre de navigation reste au-dessus du contenu */

    @media (max-width: 768px) {
        background-color: rgba(0, 0, 0, 0.705);
        box-shadow: rgba(0, 0, 0, 0) 0px;
    }

    .title_navbar {
        color: white;
        margin-left: 20px;
        font-size: 1.6em;
        font-family: 'Unbounded', sans-serif;

        @media (max-width: 768px) {
            display: none;
        }
    }

    .container_button_hamburger {
        display: none;

        @media (max-width: 768px) {
            display: flex;
            padding-left: 10px;
            z-index: 1100; /* Assurer que le bouton est au-dessus du contenu */
        }

        #button_hamburger {
            z-index: 1100;
            width: 60px;
            height: 45px;
            position: relative;
            margin: 50px auto;
            transform: rotate(0deg);
            transition: 0.5s ease-in-out;
            cursor: pointer;

            span {
                display: block;
                position: absolute;
                height: 6px;
                width: 40px;
                background: #d3531a;
                border-radius: 9px;
                opacity: 1;
                left: 0;
                transition: 0.25s ease-in-out;
            }

            span:nth-child(1) {
                top: 0px;
            }
            span:nth-child(2),
            span:nth-child(3) {
                top: 18px;
            }
            span:nth-child(4) {
                top: 36px;
            }

            &.open span:nth-child(1) {
                top: 18px;
                width: 0%;
                left: 50%;
            }

            &.open span:nth-child(2) {
                transform: rotate(45deg);
            }

            &.open span:nth-child(3) {
                transform: rotate(-45deg);
            }

            &.open span:nth-child(4) {
                top: 18px;
                width: 0%;
                left: 50%;
            }
        }
    }

    .section_li_navbar {
        color: white;

        @media (max-width: 768px) {
            display: none;

            &.open {
                display: flex;
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                justify-content: center;
                align-items: center;
                background-color: rgba(0, 0, 0, 0.8);
                backdrop-filter: blur(7px);
                z-index: 1050; /* Assurer que le menu est au-dessus de tout le reste */

                .home_section_navbar {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0, 0, 0, 0);
                }
            }
        }

        .home_section_navbar {
            display: flex;
            gap: 40px;
            font-family: 'Unbounded', sans-serif;
            font-size: 1em;
            margin-right: 20px;

            @media (max-width: 768px) {
                width: 50%;
                height: 100%;
                display: flex;
                justify-content: center;
                flex-direction: column;
                z-index: 1060; /* Assurer que les liens du menu sont visibles */
            }

            li {
                position: relative;
            }

            .link_section a {
                text-decoration: none;
                color: rgb(255, 255, 255);

                &:hover {
                    color: rgba(255, 255, 255, 0.26);
                }

                &:before {
                    position: absolute;
                    background: linear-gradient(to right, #ff8a00, #e52e71);
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    top: 0px;
                    left: 0px;
                    z-index: 3;
                    overflow: hidden;
                    content: attr(alt);
                    transition: all 0.3s;
                    transform: scale(0.8);
                    opacity: 0;
                }

                &:hover:before {
                    transform: scale(1.2);
                    opacity: 1;
                }
            }
        }
    }
}
