.navbar {
    width: 100%;
    height: 60px;
    background-color: rgb(13, 10, 10); /* Couleur de fond de la navbar */

    display: flex;
    align-items: center;
    justify-content: space-between;

    .title_navbar {
        color: white; /* Couleur du texte */
        margin-left: 20px;
        font-size: 1.6em;
        font-family: "Unbounded", sans-serif; /* Police de caractères pour le titre */
    }

    .section_li_navbar {
        color: white; /* Couleur du texte des liens */

        .home_section_navbar {
            display: flex;
            gap: 40px;
            font-family: "Unbounded", sans-serif; /* Police de caractères pour les liens */
            font-size: 1.0em; /* Taille de la police pour les liens */
            margin-right: 20px;

            li {
                position: relative; /* Ajout de la position relative pour les liens */
            }

            .link_section a {
                text-decoration: none; /* Suppression du soulignement des liens */
                color: rgb(255, 255, 255); /* Couleur initiale du texte des liens */
                
                &:hover {
                    color: rgb(13, 10, 10); /* Couleur du texte des liens au survol */
                }

                &:before {
                    position: absolute; /* Positionnement absolu pour le pseudo-élément :before */
                    background: linear-gradient(to right, #ff8a00, #e52e71); /* Dégradé de couleur pour le pseudo-élément */
                    -webkit-background-clip: text; /* Permet de clipper le dégradé sur le texte */
                    background-clip: text;
                    -webkit-text-fill-color: transparent; /* Rend le texte transparent */
                    top: 0px;
                    left: 0px;
                    z-index: 3; 
                    overflow: hidden;
                    content: attr(alt); /* Contenu du pseudo-élément */
                    transition: all 0.3s; /* Transition pour l'animation */
                    transform: scale(0.8); /* Réduction de la taille du pseudo-élément */
                    opacity: 0; /* Opacité initiale à 0 pour le pseudo-élément */
                }

                &:hover:before {
                    transform: scale(1.2); /* Augmente la taille du pseudo-élément au survol */
                    opacity: 1; /* Rend le pseudo-élément visible au survol */
                }
            }
        }
    }
}
