.container_section_presentation{
    //background-color: red;
    width: 100%;
    height: 100vh;
   background-image: url(../assets/images/shubham-dhage-MIvbZPmY9Ds-unsplash.jpg);
   background-size: cover;  // Pour couvrir toute la section
   background-position: center;  // Pour centrer l'image
}